# Virtual environments
venv/
env/
.venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.secrets

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db